init:
  - git config --global core.autocrlf true
environment:  
  matrix:
    - nodejs_version: "7"
install:  
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - npm run build
test_script:
  - node --version
  - npm --version

build: off